# --- Repositório extra para baixar a versão leve (CPU) do Torch ---
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

# Servidor e Framework
fastapi
uvicorn
python-dotenv

# Banco de Dados
sqlalchemy
psycopg2-binary
pymysql

# Validação e Dados
pydantic
numpy
scikit-learn

# Inteligência Artificial (Versões otimizadas)
torch==2.1.2+cpu
sentence-transformers
transformers