fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
sentence-transformers
torch
transformers
numpy
scikit-learn
pymysql
python-dotenv
passlib
bcrypt
stripe
boto3
botocore
starlette
tzdata

